<!DOCTYPE html>
<html>
<head>
<title>S&P Signup</title>
</head>
<body>
<div class="container">
<h1>Signup Now!</h1>

<br/>
<div class="row">
<div class="col-md-6">
    <form action="/profile" method="POST">
        Username: 
        <input type="text" name="username" /><br />
        Password:
        <input type="text" name="password" /><br />
        Last Name:
        <input type="text" name="lastname" /><br />
        First Name: 
        <input type="text" name="firstname" /><br />
        Your Kid's Name:
        <input type="text" name="kidname" /><br />
        Your Kid's School Name
        <input type="text" name="kidschool" /><br />
        Your Kid's current Grade:
        <input type="text" name="grade" /><br />
        
        <input type="submit" name="signup">
        
    </form>

</div>
</div>
</div>
</body>

</html>