<!DOCTYPE html>
<head>
<title>S&P</title>
</head>
<body>
	<div>
		Sign up Now!
		<form action="/profile" method="POST">
			<input type="text" name="username" /><br />
			<input type="text" name="password" /><br />
			<input type="text" name="lastname" /><br />
			<input type="text" name="firstname" /><br />
			<input type="text" name="kidname" /><br />
			<input type="text" name="kidschool" /><br />
			<input type="text" name="grade" /><br />
			<input type="submit" name="signup">
			
		</form>
	</div>
</body>

</html>
